html,body {
    height:100%;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.quest-button {
    padding: 2%;
    margin-bottom: 1.5%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.button-wrapper {
    padding-left: 25%; ;
    padding-right: 25%;
    margin-bottom: 1.5%;
}
/* wrappers */
.col-wrapper{
    padding: 1.5%;
    align-content: center;
    text-align: center;
}

.wrapper{
    padding: 2%;
    height: 100%;

}

/* Section Specific */
/* About Section */
.about-quest{
    background-color: #E0EEC6;
    padding: 2rem;
}

.about-quest h1{
    color: black;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 2rem;
}

.about-quest h3{
    color: black;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 2rem;
}

.about-quest p{
    color: black;
    text-align: center;
}
/* Hosting Events Section*/
.quest-links{
    background-color: #F1F7ED;
    padding: 2rem;
}

.quest-links h2{
    color: black;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 2rem;
}

.quest-links h3{
    color: black;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 2rem;
}

.quest-links p{
    color: black;
    text-align: center;
}